*, *:before, *:after {
  box-sizing: border-box;
}

#header {
	background-color: rgba(#b0bec5, .8);
	position: fixed;
	width: 100%;
	padding: 0px;
	font-size: 25px;
	padding: 30px;
}

body {
	margin: 0px;
	background-color: #eceff1;
}

#main,#content {
	margin-top: 5%;
	float:left;
	width: 50%;
}

.boxes {
	cursor: pointer;
	border: 1px solid #cfd8dc;	
	/*width: 25%;*/
	height: 150px;
	margin: 2%;
	background-color: #FFF;
	border-radius: 5px;
}

.boxes:hover {
    background-color: #eceff1;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.boxes :first-child {
	float:left;
	height: 149px;
	border: solid 1px ;
	margin-left:1px;
}

.boxes :first-child + h4{
	margin: 5px;
	border-bottom: 5px solid;
	color:#263238;
}

.boxes :first-child + h4 + p{
	margin: 10px;
	color:#546e7a;
}

#mainVideo {
	border-radius: 5px;
	background-color: rgba(#cfd8dc, .15);
	padding-left: 20px;
	padding-right: 20px;
	position: fixed;
	float: left;
	/*border: 1px solid;*/
	padding-bottom: 250px;
	margin-left: 5%;
}